// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'clndr';

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
.table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td{
  font-size:16px;
}
.m-20{
  margin:20px;
}
main {
  @extend .container-fluid;
  background-color: white;
  padding-bottom: 80px;
  width: 96%;
  font-weight: 100;
  font-family: 'Open Sans';
  min-height: 94vh;
  margin-top: 51px; // accommodate the navbar
  }

section {
  @extend .row;
  margin-top: 20px;
  }

  .center-block{
    float:none;
    margin-left:auto!important;
    margin-right:auto!important;
  }




.modal {
    // top: 60px;
    /*! adjust transition time */
    
    -webkit-transition: all 0.1s ease-in-out !important;
    -moz-transition: all 0.1s ease-in-out !important;
    -o-transition: all 0.1s ease-in-out !important;
    transition: all 0.1s ease-in-out !important;
    .dropzone{
      min-height: 150px;
        border:1px solid rgba(0,0,0,0.1);

    }
}

.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    
    -webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;
}

.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.fa-trash{
  color:red;
}
